@page
@model TeamProject.Pages.Types.IndexModel
@{
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h3 class="text-primary">Types</h3>
        </div>
        <div class="col-6">
            <a asp-page="Create" class="btn btn-primary">
                Add New Type
            </a>
        </div>
    </div>
</div>

<br /> <br /> <br />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.Types)
        {
            <tr>
                <td width="40%">@obj.TypeName</td>
                <td width="40%">@obj.Cost</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@obj.Id">Edit</a>
                </td>
                <td>
                    <a asp-page="Delete" asp-route-id="@obj.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>